<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact us form</title>
    
    
  </head>
  <body>
    <h2>{{Name}} ,Raised a Query</h2>

	<div class="para">
        {{content }}raise a query and there details are following!,
        <table style="border:1px solid black">
            <tr>
                <td style="border:1px solid black">Name</td>
                <td style="border:1px solid black">{{Name}}</td>
              </tr>
              
               <tr>
                <td style="border:1px solid black">Email</td>
                <td style="border:1px solid black">{{Email}}</td>
               </tr>
               

                
                <tr>
                <td style="border:1px solid black">Description</td>
                <td style="border:1px solid black">{{Description}}</td>
              </tr>
               

          
        </table>
    </div>
    <br>
    <h6>Thanks and regards</h6>
    Pranjal chaubey (from IBlogs)

  </body>
</html>