<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    
    
  </head>
  <body>
    <h2>{{content}},WELCOME TO IBLOGS ! </h2>

	<div class="para">
        {{content }}hope you're doing well!,
      thanks for choosing Iblogs  .we are welcomimg you to our team and request you to take participate in blogs and suggest us by commenting on blogs.
    </div>
    <br>
    <h6>Thanks and regards</h6>
    Pranjal chaubey (from IBlogs)

  </body>
</html>